// .homepage {
//     width: 80%;
//     margin-left: 10%;
//     margin-right: 10%;
// }

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
  font-family: 'Noto Sans KR', sans-serif;
}

div{
  box-sizing: border-box;
}

.home_introduce {
  display: flex;
  height: 60vh;
  margin: 0 auto;
  
}

.home_techstack{
  height: 35vh;
}

// .home_interaction{
//   height: 5000px;
// }

.home_scroll_images{
  position: sticky;
  top: 0px;
  height: 100vh;
}

.home_scroll_image{
  img{
    max-width: 100%;
    height: auto;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


.home_chatbot{
  margin: 5vh;
  position: fixed;
  bottom: 10%;
  right: 5%;
}

.home_chat_button{
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 999;
}
.home_scroll_script{
  position: relative;

  p{
    padding: 0.5rem;
    margin-top: 60vh;
    border-radius: 20px;
    background: rgba($color: #ffffff, $alpha: 0.5);
    box-shadow: rgba($color: #000000, $alpha: 0.3) 0 0 2px;
    font-weight: bold;
  }
}

.visible{
  opacity: 1;
}



.home_solution {
  display: flex;
  margin-top: 5%;
  margin: 0 auto;
}

.home_description {
  display: flex;
  margin-top: 5%;
  opacity: 0;
}

.home_SSH {
  display: flex;
  margin-top: 5%;
}

.home_Linux {
  display: flex;
  margin-top: 5%;
}

// .home_techstack{
//   display: inline-flex;
//   background-color: aqua;
//   width: 100%;
// }

.home_script {
  width: 50%;
  font-size: 1rem;
}

.home_image {
  width: 50%;
  margin-right: 5%;
}

.home_image img {
  max-width: 100%;
  height: auto;
}



@mixin fill_to_right($font_color, $background_color) {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    background: $background_color;
    transform: scaleX(0);
    transform-origin: 0 100%;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    color: $font_color;

    &:before {
      transform: scaleX(1);
    }
  }
}

@mixin round_link {
  border-radius: 40px;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  min-width: 80px;
  overflow: hidden;
  padding: 16px 32px;
  transition: color .4s linear;
  text-decoration: none;
  z-index: 1;


}

.intro_link {
  @include fill_to_right(#000000, #5AC3D9);
  align-items: center;
  background-color: #3B393C;
  color: #FFFFFF;
  border: none;
  @include round_link;
}

.default_link {
  @include fill_to_right(#000000, #FFFFFF);
  align-items: center;
  background-color: #3B393C;
  color: #FFFFFF;
  border-color: black;
  border: 1px solid black;
  @include round_link;
}